body {
    background:  url('../background/soft_wallpaper.png');

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 48px;
}

.panel {
    margin: auto;
    width: 30%;
    border: 3px solid green;
    padding: 10px;
}

select {
    display: block;
    margin: 0 auto;
    width: 300px;
}

input {
    display: block;
    margin: 0 auto;
    width: 300px;
}

button {
    display: block;
    margin: 0 auto;
    width: 300px;
}

p {
    display: block;
    margin: 0 auto;
    width: 300px;
    font-size: 20px;
}